################################################################
# Python packages required for the SimFin tutorials.
# Install by running: pip install -r requirements.txt
################################################################
# Requirements for MOST of the tutorials:

simfin
pandas
numpy
seaborn
matplotlib
jupyter

################################################################
# Requirements for SOME of the tutorials:

scipy
statsmodels
sklearn

# Use TensorFlow v. 2.0 CPU because v. 2.1 is a 420 MB download!
# Use v. 2.0.1 because of a security risk/warning in v. 2.0.0
# https://github.com/tensorflow/tensorflow/releases/tag/v2.0.1
tensorflow==2.5.0

################################################################
# Install the nbval package if you want to automatically
# run and test all Notebooks. See README.md for details.

# nbval

################################################################
